@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url(root.css);

.container {
    max-width: 1140px;
}

/* header */
.bg-img {
    background-image: url(../img/bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 250px !important;
    background-position: bottom;
    z-index: 1 !important;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    position: relative;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-43deg);
}

.bg-transparent {
    opacity: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.p-13 {
    padding: 13.5px 32px;
}

.p-19 {
    padding: 19.5px 38.5px;
}

.name li:last-child button {
    margin-left: 120px;
}

.button,
.button-2,
.button-3 {
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    box-shadow: 0px 0px 12px 0px #BF97FF3D inset;
    border-radius: 57px;
    border: none;
    transition: transform all 1s ease;
    z-index: 10;
    cursor: pointer;
    color: white;
}

.button:hover,
.button-2:hover,
.button-3:hover {
    background-image: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    background-clip: text;
    color: transparent;
    transform: scale(1.05);
    transition: all 0.5 200ms ease;
}

.navbar-link:hover {
    transform: scale(1.1);
    transition: all 300ms linear;
    text-decoration: underline;
    -webkit-text-stroke: 1px;
}

.gap-32 {
    gap: 32px;
}

.navbar-link {
    background-image: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    transition: all 0.3s ease-in-out;
}

.navbar-link:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.navbar-link:hover {
    /* background-position: 0; */
}

.navbar-link:hover::before {
    width: 100%;
}

.star {
    position: absolute;
    top: 0% !important;
    right: 100% !important;
}

.saturn {
    position: absolute;
    top: 65% !important;
    left: 0;
}

.robot {
    animation: moveUpDown 2s infinite ease-in-out;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        backdrop-filter: blur(40px);
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
    }

    .name li:last-child button {
        margin-left: 0px;
    }

    .show-navbar {
        right: 0 !important;
    }
}

/* section */
.max-w-225 {
    max-width: 225px !important;
}

.max-w-180 {
    max-width: 180px !important;
}

@media (min-width:768px) {
    .border-line {
        border-right: 1px solid;
        border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0)100%) 1 !important;
    }

    .border-line-2 {
        border-right: 1px solid;
        border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0)100%) 1 !important;
    }
}

@media (max-width:767.98px) {
    .border-line {
        border-right: 1px solid;
        border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0)100%) 1 !important;
    }
}

/* slider */
.slider-person-name {
    display: flex;
    flex-direction: column;
}

.pb-47 {
    padding-bottom: 47px;
}

.box {
    padding: 24px;
    background: linear-gradient(180deg, rgba(59, 40, 246, 0.22) 0%, rgba(59, 40, 246, 0) 100%);
    border-radius: 24px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-210 {
    padding-bottom: 200px;
}

@media (max-width:576px) {
    .flex-col-sm {
        flex-direction: column;
    }

    .pb-30-sm {
        padding-bottom: 30px;
    }

    .text-center-sm {
        text-align: center;
    }
}

@media (max-width:1300px) {
    .xl-pt-60 {
        padding-top: 60px;
    }

    .xl-pb-60 {
        padding-bottom: 60px;
    }
}

/* FAQ section start */
.pb-60 {
    padding-bottom: 60px;
}

.page-faq .accordion-button {
    box-shadow: none !important;
    padding: 24px !important;
}

.page-faq .accordion-body {
    padding: 0px 48px 24px 24px !important;
}

.page-faq .accordion-item * {
    position: relative;
    z-index: 1;
}

.page-faq .accordion-item {
    position: relative;
    border-radius: 12px !important;
    overflow: hidden;
    background-color: transparent !important;
    border: 1px solid #FFFFFF1A !important;
}

.page-faq .accordion-item.active::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12px !important;
    padding: 1px;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.page-faq .accordion-button {
    background-color: transparent !important;
}

.page-faq .accordion-button::after {
    background-image: url("..//img/svg/Vector.svg");
}

/* footer */
.circle {
    width: 40px;
    height: 40px;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    border-radius: 100px;
}

.footer-icon:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.footer-link {
    display: block;
    text-decoration: none;
    color: var(--color-white);
    opacity: 70%;
}

.footer-link:hover {
    transform: scale(1.1);
    transition: all 300ms linear;
    text-decoration: underline;
    -webkit-text-stroke: 1px;
}

.line::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 1px;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.7) 47%,
            rgba(255, 255, 255, 0) 100%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

@media (max-width: 767.98px) {
    .footer-link {
        text-align: center;
    }
}